[submodule "YukkuriMovieMaker.Generator"]
	path = YukkuriMovieMaker.Generator
	url = https://github.com/manju-summoner/YukkuriMovieMaker.Generator.git
[submodule "GitHubUpdateNotifier"]
	path = GitHubUpdateNotifier
	url = https://github.com/routersys/YMM4-GitHubUpdateNotifier.git
